.color-0 {
    background-color: #000000;
  }
  
  .color-1 {
    background-color: #ff0000;
  }
  
  .color-2 {
    background-color: #ff4500;
  }
  
  .color-3 {
    background-color: #ff7f00;
  }
  
  .color-4 {
    background-color: #ffae42;
  }
  
  .color-5 {
    background-color: #ffe302;
  }
  
  .color-6 {
    background-color: #c5e384;
  }
  
  .color-7 {
    background-color: #32ad61;
  }
  
  .color-8 {
    background-color: #1164b4;
  }
  
  .color-9 {
    background-color: #1b457e;
  }
  
  .color-10 {
    background-color: #766ec8;
  }
  
  .color-11 {
    background-color: #5b0a91;
  }
  
  .color-12 {
    background-color: #891446;
  }
  